@font-face {
  font-family: "iconfont"; /* Project id 4126698 */
  src: url('iconfont.woff2?t=1687324035623') format('woff2'),
       url('iconfont.woff?t=1687324035623') format('woff'),
       url('iconfont.ttf?t=1687324035623') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_xinyong_xianxing_jijin-239:before {
  content: "\e664";
}

.icon-jinru1:before {
  content: "\e7a2";
}

.icon-fanhui:before {
  content: "\e6b2";
}

.icon-guanbi:before {
  content: "\e914";
}

